<!DOCTYPE html>
<html>
	<head>
		<title>Buffalo &dash; Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Incude bootstrap -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Custom icons -->
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<!-- Custom fonts -->
		<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
		<!-- Main stylesheet -->
		<link href="/static/css/kato.css" rel="stylesheet">
	</head>
<body class="full-page">
	
	<form class="login-box" action="index.html">
		
		<h1>Welcome to Buffalo</h1>

		<input type="text" class="form-control" placeholder="Enter username" />

		<input type="password" class="form-control" placeholder="Enter password" />

		<button class="btn" type="submit">Login</button>

		<a href="#">Forgot password?</a>

	</form>
	
	<!-- Javascripts -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/theme.js"></script>
</body>
</html>
<!-- Localized -->